#**Introducao ao MapReduce**

**prof: Sergio Assuncao Monteiro, DSc**

linkedin: https://www.linkedin.com/in/sergio-assun%C3%A7%C3%A3o-monteiro-b781897b/

lattes: http://lattes.cnpq.br/9489191035734025

# **Exemplo 01**: conta as ocorrências de cada palavra em um documento de texto.

In [9]:
from functools import reduce
from collections import Counter

texto = "Este é um exemplo simples. Este é um documento de texto."

palavras = texto.split()
qtd_palavras = Counter(palavras)

# Usando MapReduce
qtd_palavras_reduce = reduce(lambda x, y: x + y, map(lambda x: Counter([x]), palavras))

print(f'Sem MapReduce ={qtd_palavras}')
print(f'Com MapReduce ={qtd_palavras_reduce}')

Sem MapReduce =Counter({'Este': 2, 'é': 2, 'um': 2, 'exemplo': 1, 'simples.': 1, 'documento': 1, 'de': 1, 'texto.': 1})
Com MapReduce =Counter({'Este': 2, 'é': 2, 'um': 2, 'exemplo': 1, 'simples.': 1, 'documento': 1, 'de': 1, 'texto.': 1})

# **Exemplo 02:** Encontre o valor máximo em uma lista usando MapReduce.

In [10]:
from functools import reduce

lst_numeros = [31, 25, 27, 76, 56, 23, 81, 43, 92, 10]

# Usando MapReduce
maior_valor = reduce(lambda x, y: x if x > y else y, lst_numeros)

print(f'O maior valor é: {maior_valor}')

O maior valor é: 92

# **Exemplo 03:** Calcule a soma de todos os elementos em uma lista.

In [11]:
from functools import reduce

lst_numeros = [31, 25, 27, 76, 56, 23, 81, 43, 92, 10]

# Usando MapReduce
sum_result = reduce(lambda x, y: x + y, lst_numeros)

print(sum_result)

464

# **Exemplo 04:** Calcule a soma dos quadrados para uma lista de números.

In [12]:
from functools import reduce

lst_numeros = [31, 25, 27, 76, 56, 23, 81, 43, 92, 10]

# Usando MapReduce
soma_quadrados = reduce(lambda x, y: x + y, map(lambda x: x**2, lst_numeros))

print(f'O somatório dos quadrados dos elementos da lista é: {soma_quadrados}')

O somatório dos quadrados dos elementos da lista é: 28730

# **Exemplo 05:** Gere os primeiros n números na sequência de Fibonacci usando MapReduce.

In [13]:
from functools import reduce

n = 10

# Usando MapReduce
fibonacci = reduce(lambda x, _: x + [x[-1] + x[-2]], range(n-2), [0, 1])

print(fibonacci)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]