# **Introducao ao Python**

**prof: Sergio Assuncao Monteiro, DSc**

linkedin: https://www.linkedin.com/in/sergio-assun%C3%A7%C3%A3o-monteiro-b781897b/

lattes: http://lattes.cnpq.br/9489191035734025

# **Entrada e Saida de Dados**

In [1]:
print("Primeiro exemplo!")

Primeiro exemplo!

In [2]:
print(123456789)

123456789

In [4]:
#Aspas simples
print('valor =',12345)
print('valor = {}'.format(12345))
print(f'valor = {12345}')

valor = 12345
valor = 12345
valor = 12345

In [5]:
#Aspas duplas
print("valor =",12345)
print("valor = {}".format(12345))
print(f"valor = {12345}")

valor = 12345
valor = 12345
valor = 12345

In [ ]:
#Variavel string
var_string = 'exemplo de string em Python'
print(var_string)
print('valor da variavel nome = {}'.format(var_string))
print(f'valor da variavel nome = {var_string}')
print(f"valor da variavel nome = {var_string}")

exemplo de string em Python
valor da variavel nome = exemplo de string em Python
valor da variavel nome = exemplo de string em Python
valor da variavel nome = exemplo de string em Python

In [9]:
#Variavel numerica
var_numero = 57.546352
print('valor da variavel numero =',var_numero)
print('valor da variavel numero = {}'.format(var_numero))
print(f'valor da variavel numero = {var_numero}')
print("valor da variavel numero formatada = {:.2f}".format(var_numero))

valor da variavel numero = 57.546352
valor da variavel numero = 57.546352
valor da variavel numero = 57.546352
valor da variavel numero formatada = 57.55

In [ ]:
#Entrada de dados
valor = int(input("Entre com um numero: "))

Entre com um numero: 10

**Tratamento de Excecoes**

In [11]:
try:
  valor = int(input("Entre com um numero: "))
except:
  print("Por favor, entre com um numero valido.")

Entre com um numero: 10

# **Comandos Condicionais**

**Verificar se um número é divisível por 10.**

In [13]:
a = int(input("Digite um numero: "))
if a % 10==0:
  print(f'O numero {a} eh divisivel por 10.')
else:
  print(f'O numero {a} NAO eh divisivel por 10.')

Digite um numero: 80
O numero 80 eh divisivel por 10.

**Exemplo: Dados dois numeros, encontrar o maior deles.**

In [ ]:
#Estrategia 01
a = int(input("Digite um numero: "))
b = int(input("Digite um numero: "))
if(a > b):
  maior = a
else:
  maior = b
print(f'O maior numero eh: {maior}')

Digite um numero: 5
Digite um numero: 10
O maior numero eh: 10

In [ ]:
#Estrategia 02
a = int(input("Digite um numero: "))
b = int(input("Digite um numero: "))
maior = a
if(b>maior):
  maior = b
print(f'O maior numero eh: {maior}')

Digite um numero: 5
Digite um numero: 10
O maior numero eh: 10

# **Comandos Iterativos**

In [ ]:
contador=0
s = ''
while (contador < 10):
  s = s + str(contador)+ ' '
  contador = contador + 1
print(s)

0 1 2 3 4 5 6 7 8 9

In [ ]:
s = ''
for contador in range(10):
  s = s + str(contador)+ ' '  
print(s)

0 1 2 3 4 5 6 7 8 9

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# **Listas**

In [ ]:
lista = [101,202,303,404,505]
print(lista)

[101, 202, 303, 404, 505]

In [ ]:
print(f'lista[0] = {lista[0]} e lista[3] = {lista[3]}')

lista[0] = 101 e lista[3] = 404

In [ ]:
#indexacao explicita da lista
n = len(lista)
s = ''
for i in range(n):
  s = s + str(lista[i])+ ' '
print(s)

101 202 303 404 505

In [ ]:
#paradigma funcional
s = ''
for a in lista:
  s = s + str(a)+ ' '
print(s)

101 202 303 404 505

# **Vetores**

In [ ]:
import numpy as np
vetor_teste = np.array([1,2,3,4,5])
print("vetor:{}".format(vetor_teste))

vetor:[1 2 3 4 5]

In [ ]:
import numpy as np
vetor = np.array([5,21,33,54,85])
posicao = 3
print("vetor[{}]={}".format(posicao,vetor[posicao]))

vetor[3]=54

In [ ]:
import numpy as np
vetor1 = np.array([5,21,33,54,85])
vetor2 = np.array([6,7,8,9,10])
vetor3 = vetor1 + vetor2
print("soma dos vetores:{}".format(vetor3))

soma dos vetores:[11 28 41 63 95]

In [ ]:
vetor = np.array([5,21,33,6,7,8,9,10,54,85])
print(f'Tipo: {type(vetor)}')
print(f'Dimensoes: {vetor.ndim}')
print(f'Tamanho das dimensoes: {vetor.shape}')
print(f'Total de elementos: {vetor.size}')
print(f'posicao 1 = {vetor[0]}')
print(f'posicao 5 = {vetor[4]}')

Tipo: <class 'numpy.ndarray'>
Dimensoes: 1
Tamanho das dimensoes: (10,)
Total de elementos: 10
posicao 1 = 5
posicao 5 = 7

# **Dataframe**

**exemplo 01**

In [ ]:
import numpy as np
import pandas as pd
dados = {'coluna 01': [1, 2], 'coluna 02': [3, 4]}
df = pd.DataFrame(data=dados)

In [ ]:
df

   coluna 01  coluna 02
0          1          3
1          2          4

**exemplo 02**

In [ ]:
import pandas as pd
dados_2 = {'Produto': ['A', 'B'], 'Valor': [100, 500]}
df_2 = pd.DataFrame(data = dados_2)
df_2

  Produto  Valor
0       A    100
1       B    500

**exemplo 03**

In [ ]:
#Adicionar nova coluna
df_2['Estoque'] = [200, 707]
df_2

  Produto  Valor  Estoque
0       A    100      200
1       B    500      707

**exemplo 04**

In [ ]:
#Outra forma de adicionar uma coluna
df_2.insert(loc=3, column="Categoria", value =['Suco', 'Cereal'])
df_2

  Produto  Valor  Estoque Categoria
0       A    100      200      Suco
1       B    500      707    Cereal

# **Funcoes**

**Exemplo 01: Somar todos os elementos de uma lista.**

In [ ]:
def somatorio(lista):
  soma=0
  for elem in lista:
    soma = soma + elem
  return soma

In [ ]:
lista_teste = [1,10,2,5,2,5]
resultado = somatorio(lista_teste)
print("O somatorio dos elementos da lista é:[{}]".format(resultado))

O somatorio dos elementos da lista é:[25]

**Exemplo 02: Encontrar o menor elemento de uma lista.**

In [ ]:
def obter_minimo(lista):
  minimo = lista[0]
  for elem in lista:
    if(elem < minimo):
      minimo = elem
  return minimo

In [ ]:
lista_teste = [2,10,3,7,-5,1,4,5]
menor = obter_minimo(lista_teste)
print("O menor elemento da lista eh:[{}]".format(menor))

O menor elemento da lista eh:[-5]

**Exemplo 03: Encontrar o maior valor entre 3 numeros**

In [ ]:
#Funcao Lambda
funcao_maior = lambda x,y: x if(x>y) else y

In [ ]:
num1 = 10
num2 = 30
num3 = 20

In [ ]:
maior01 = funcao_maior(num1,num2)
maior = funcao_maior(maior01,num3)
print(f'O maior valor entre {num1}, {num2} e {num3} eh: {maior}')

O maior valor entre 10, 30 e 20 eh: 30

In [ ]:
#alternativa
maior = funcao_maior(funcao_maior(num1,num2),num3)
print(f'O maior valor entre {num1}, {num2} e {num3} eh: {maior}')

O maior valor entre 10, 30 e 20 eh: 30

**Exemplo 04: encontrar o vendedor com melhor desempenho**

In [ ]:
lista = [('vendedor 01', 100), ('vendedor 02', 700),('vendedor 03', 200)]

In [ ]:
#Funcao Lambda
maior = max(lista,key=lambda item:item[1])[0]

In [ ]:
maior

'vendedor 02'